@page
@model DeleteMatch
@{
    ViewData["Title"] = TempData["matchId"];
}

<div class="container-fluid" style="font-family: Poppins; font-style: normal">
    <div class="row justify-content-center align-items-center">
        <div class="min-vh-100 d-flex col-md-12 text-center justify-content-center align-content-center">
            <h2 style="font-weight: 400">deleting match ID: @TempData["matchId"]...</h2>
        </div>
    </div>
</div>