@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid parallax">
    <div class="row align-items-start" id="row1">
        <div class="col-md-4 itembackdrop vh-100">

            <h1 class="display-4 text-white">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
    <div class="row align-items-start justify-content-center" id="row2">
        <div class="col-md-12 itembackdrop vh-100"></div>
    </div>
    <div class="row justify-content-end align-items-start" id="row3">
        <div class="col-md-4 itembackdrop vh-100">
            <h1 class="display-4 text-white">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>

<style>
    .parallax {
        background: url('/img/326551671_1195694677754775_7874095249251494241_n.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .itembackdrop {
        backdrop-filter: blur(25px) brightness(75%);
    }
</style>